.offerings{
    text-align: center;
    font-weight: bolder;
    font-size: x-large;
    background: linear-gradient(rgb(86,204,242),rgb(0,121,145));
    /* padding: 1px; */
    color: whitesmoke;
    padding: 0.5px;
    
    border-radius: 10px;
    /* font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; */
}
.offerings>p{
    margin: 8px;
    animation-name: move1;
    animation-duration: 2s;
    animation-iteration-count: infinite;

}
@keyframes move1 {
    0%{
        transform: scale(1);
       
    }
    25%{
        transform: scale(1.5);
        color: darkgrey;

    }
    100%{
        transform: scale(2);
        /* background: linear-gradient(pink,gray); */
        
    }
    
}
.nav1{
    /*  border: 2px solid; */
    margin-top: 20px;
    width: 70%;
    margin-left: 150px;
    border: 2px solid;
    border-radius: 17px;
    background-color:  #008B8B;
    /* color: #fffff0; */
}
#navnav{
    color: #fffff0;
    /* border: 2px solid; */
    /* display: flex; */
    /* justify-content: center; */
    

}
.ul1{
    display: flex;
    justify-content: space-around;
    text-decoration-style: none;
    list-style-type: none;
    /* background-color: coral; */

}
.li1,.li2,.li3{
    text-decoration: none;
    

}
.li1:hover{
    /* background-color: #333; */
    border: 10px #333;
    border-radius: 5px;
    transform: scale(1.34);
    text-shadow: 1px 1px 2px #fffff0;
}
.li2:hover{
    /* background-color: #333; */
    border: 10px #333;
    border-radius: 5px;
    transform: scale(1.34);
    text-shadow: 1px 1px 2px #fffff0;
}
.li3:hover{
    /* background-color: #333; */
    border: 10px #333;
    border-radius: 5px;
    transform: scale(1.34);
    text-shadow: 1px 1px 2px #fffff0;
}
/* grids1 started here */

.grids1{
    display: grid;
    border: 2px solid;
    grid-template-columns: 30% 30% 30%;
    justify-content: space-around;
    grid-template-rows: 160px 200px;
    margin-top: 20px;
    /* row-gap: 10px; */
    background-color: #0abab5;
}
.firstgrid,.secondgrid,.thirdgrid,.forthgrid{
    /* height: 130px;
    width: 350px; */
    border: 0.5px solid white;
    margin-top: 8px;
    background-color: #adb8c1;
    text-align: center;
    font-size: large;
    border-radius: 12px;
    
}
.forthgrid{
    grid-column-start: 2;
    margin-bottom: 10px;
    margin-top: 20px;
}
/* OUR TOP PERFORMER STARTS HERE */
.performance{
    text-align: center;
    font-weight: bolder;
    font-size: x-large;
    background: linear-gradient(#EA8D8D,#A890FE);
    padding: 5px;
    margin-top: 18px;
    color: whitesmoke;
    border-radius: 10px;
}
/* students name starts here */
.jee{
    display: grid;
    justify-content: space-evenly;
    grid-template-columns: 20% 20% 20% 20%;
    grid-template-rows: 100%;
    border: 1px solid;
    text-align: center;
    margin-top: 20px;
    padding: 40px;
    background: linear-gradient(gray,white);
    border-radius: 10px;
    
}
.akash,.gaurav,.shivam,.rishav{
    border: 1px solid;
    padding: 40px;
    background: linear-gradient(#93A5CF,#E4EfE9);
    font-size: large;
    font-style: italic;
    border-radius: 15px;
}
.hov:hover{
    transform: scale(1.5);
    color: white;
}
.career1{
    text-align: center;
    font-weight: bolder;
    font-size: x-large;
    background: linear-gradient(#868F96,#596164);
    padding: 5px;
    color: whitesmoke;
    border-radius: 10px;
    margin-top: 25px;
    
}
.lastgrid{
    display: grid;
    grid-template-columns: 28% 28% 28% 10%;
    text-align: center;
    grid-template-rows: 100px;
    column-gap: 15px;
    margin-top: 20px;
    justify-content: space-evenly;
    row-gap: 10px;
    background: linear-gradient(#11998E,#38EF7D);
    padding: 10px;

}
.fine{
    border: 2px solid;
   
    font-weight: bolder;
    font-size: larger;
    background: linear-gradient(#D8B5FF,#1EAE98);
}
.fine>p{
    text-align: center;

}
.longdiv{
    grid-column-end: 4;
    grid-column-start: 1;

}
.sidediv{
    grid-row: span 2;
    grid-column-start: 4;
    /* font-size: small; */
    /* margin-right: 10px; */
    font-size: 15px;
}
.dotdot>li{
    list-style-type: disc;
    text-align: center;
    font-weight: 200;
    margin-left: 4px;
    padding: 2px;
    font-weight: bold;
    /* margin-right: 38px; */
}

.fine>ul{
    margin-right: 32px;
    text-align: center;
}
/* footer starts here */
.footer{
    margin-top: -10px;
    text-align: center;
    font-weight: bolder;
    font-size: x-large;
    background: linear-gradient(#A9F1DF,#FFBBBB);
    /* padding: 1px; */
    color: slategrey;
    border-radius: 10px;

}
body{
    background-color:	#FFEFD5;
}